<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Wotch</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <h4 class="logo">W<span class="anim-pop" style="color: #332FD0;">o</span>tch</h4>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a class="nav-link" href="#">Home</a></li>
                <li><a class="nav-link" href="#">About</a></li>
                <li><a class="nav-link" href="#">Product</a></li>
                <li><a class="nav-link" href="#">Shop</a></li>
                <li><a class="nav-link" href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="icons">
            <img class="icon" src="../Images/magnifying-glass-solid.svg" alt="search">
            <img class="icon" src="../Images/heart-regular.svg" alt="heart">
            <img class="icon" src="../Images/cart-shopping-solid.svg" alt="cart">
        </div>
    </header>
    <main>
        <section class="presentation">
            <div class="introduction">
                <div class="intro-text">
                    <h1 class="anim-left-speed">Next Gen</h1><br>
                    <h1 class="anim-right-speed">Smart Watch</h1>
                    <p class="anim-pop-p">
                        Wotch helps you to accuratly track you all<br> day steps, calories consumption, distance<br> travel & heart rate.
                    </p>
                </div>
                <div class="cta">
                    <button class="cta-add anim-bottom">Add To Cart</button>
                    <button class="cta-details anim-bottom">View Details</button>
                </div>
            </div>
            <div class="product">
                <img class="anim-pop" src="../Images/product.avif" alt="watch">
            </div>
            <div class="bars">
                <div class="bar b1 anim-right"></div>
                <div class="bar b2 anim-left"></div>
                <div class="bar b3 anim-right"></div>
                <div class="bar b4 anim-left"></div>
              </div>
        </section>
    </main>
</body>
</html>